@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
.scrollbar::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .scrollbar::-webkit-scrollbar-track {
    background: #f8f5f5; 
    border-radius: 5px;
  }
   
  /* Handle */
  .scrollbar::-webkit-scrollbar-thumb {
    background: #7a7979; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  .scrollbar ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }